.home-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    color: #FF6347;
    font-family: 'Roboto Serif', serif;
  }
  
  .home-logo {
    width: 100px;
    height: auto;
    margin-right: 20px; /* Space between logo and text */
  }
  
  .home-title {
    font-size: 3rem;
    font-weight: 800;
  }
  
  .home-subtitle,
  .home-description {
    flex-basis: 100%; /* Forces new line for these elements */
  }
  